{{>navbar}}

<!-- Daily page layout -->

{{!-- <div class="col-10 col-lg-8 info mb-5 mb-md-0">
  <h2>{{weekday}}</h2>

  <p class="leadText">{{name.[0]}}</p>
  <p class="leadText">{{special.[0]}}</p>
  <p class="leadText">{{location.[0]}}</p>
  <p class="leadText">{{contact.[0]}}</p>
</div>

<div class="col-md-6 px-0 py-0">
  <img class="img-fluid" src="{{image.[0]}}" alt="Tasty eats">
</div>

<p class="leadText">{{name.[1]}}</p>
<p class="leadText">{{special.[1]}}</p>
<p class="leadText">{{location.[1]}}</p>
<p class="leadText">{{contact.[1]}}</p>
</div>

<div class="col-md-6 px-0 py-0">
  <img class="img-fluid" src="{{image.[1]}}" alt="Tasty eats">
</div>

<p class="leadText">{{name.[2]}}</p>
<p class="leadText">{{special.[2]}}</p>
<p class="leadText">{{location.[2]}}</p>
<p class="leadText">{{contact.[2]}}</p>
</div>

<div class="col-md-6 px-0 py-0">
  <img class="img-fluid" src="{{image.[2]}}" alt="Tasty eats">
</div>
</div> --}}


<div class = "container-fluid">
  <div class = "top-buffer">
    <div class="row">
      {{#for 0 4 1}}
     <p class="leadText">{{name.[0]}}</p>
  <p class="leadText">{{special.[0]}}</p>
  <p class="leadText">{{location.[0]}}</p>
  <p class="leadText">{{contact.[0]}}</p>
  {{/for}}
      </div>
    </div>
  </div>
